<h1>ためしページです</h1>
<div class="col-md-3">
    <%= link_to 'Log in', login_path, class: 'btn btn-block btn-white' %>
    <%= link_to '試しその２に行きます', tameshis_sononi_path, class: 'btn btn-block btn-black' %>
</div>
